* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  color: #ffffff;
  background: #353535;

  font-size: 1.2rem;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
}

header > ul {
  display: flex;
  list-style: none;
  margin: 0;
}

header > ul a {
  color: #ffffff;
  padding-right: 2rem;
}

main {
  margin: 0 auto;
  max-width: 1140px;
}
